.App {
  text-align: center;
  width: 100%;
  margin: 15px auto;
}

.wip {
  width: 20%;
  padding-bottom: 65px;
  overflow-y: auto;
  position: relative;
  background-color: #d5d8dc;
  padding-top: 50px;
}

.draggable:hover {
  -webkit-box-shadow: 1px 2px 11px 3px white;
  -moz-box-shadow: 1px 2px 11px 3px white;
  box-shadow: 1px 2px 11px 3px white;
}

.header {
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: #e0e0e0;
  width: 100%;
}

.task-header,
.task-header-edit {
  display: block;
  background-color: rgb(12, 36, 46);
  color: white;
  padding: 10px 0px 10px 0px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.droppable {
  padding-bottom: 65px;
  width: 35%;
  overflow-y: auto;
  position: relative;
  padding-top: 50px;
  background-color: #F7F7F7;
}

.droppable .task-header {
  background: #000;
}

.draggable {
  width: 80%;
  background-color: #2980b9;
  margin: 5px auto;
  padding: 10px;
  color: white;
  cursor: pointer;
  border-radius: 20px;
}

.form {
  width: 45%;
  height: 80%;
  padding-bottom: 65px;
  overflow-y: auto;
  position: relative;
  padding-top: 50px;
  background-color: #d5d8dc;
}

.container-drag {
  display: flex;
  text-align: center;
  height: 100vh;
  flex-wrap: wrap;
}

.bottom {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px 15px;
  padding-bottom: 14px !important;
  height: 30px;
  background: #0C242E;
}

.disable-div {
  cursor: no-drop !important;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
}

.MuiButton-outlined.Mui-disabled {
  border: 1px solid white !important;
  color: white !important;
}